html {
  background: #ffffff;
}
body {
  width: 100%;
  margin: 0 auto;
}
img {
  padding: 5px;
  border: 1px solid #ddd;
  max-width: 788px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0000ee;
}
a.btn {
  display: inline-block;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f0f0f0);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f0f0f0);
  background-image: -o-linear-gradient(top, #f8f8f8, #f0f0f0);
  padding: 8px 15px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333333;
  font-size: 13px;
  line-height: 16.25px;
  border: 1px solid;
  border-color: #dfdfdf;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
a.btn:hover {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f3f3f3, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f3f3f3, #e9e9e9);
  background-image: -o-linear-gradient(top, #f3f3f3, #e9e9e9);
  color: #333333;
  border-color: #d2d2d2;
  text-decoration: none;
}
a.btn:active {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
}
div[role=main] {
  width: 800px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 4px;
}
div[role=main] .date-updated {
  color: #aaa;
}
div[role=main] .ftags {
  margin: 0;
  padding: 8px 0 0;
}
div[role=main] .ftags ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}
div[role=main] .ftags ul li {
  display: inline;
  margin-right: 8px;
}
div[role=main] .ftags ul li.label {
  font-weight: bold;
}
.categories {
  margin: 16px 0;
}
.categories .category {
  margin: 16px 0 0;
  padding: 0;
}
.categories .category:nth-child(even) {
  margin-right: 0;
}
.categories .category h3 {
  margin: 0;
}
.categories .category ul {
  padding-left: 0;
  margin: 8px 0;
  list-style: none;
  padding-bottom: 0;
}
.categories .category ul li {
  margin: 4px 0;
}
.categories .category a.view-all {
  color: #aaa;
}
footer {
  padding: 24px 0;
  margin-top: 24px;
  border-top: 2px solid #ddd;
  font-size: 14px;
}
footer ul {
  list-style: none;
  margin: 0 0 24px;
  padding: 0;
}
footer ul.social {
  float: right;
}
footer ul li {
  float: left;
  margin-right: 16px;
}
footer ul li:last-child {
  margin-right: 0;
}
footer ul li a,
footer ul li a:visited {
  color: #aaa;
  text-decoration: none;
}
footer ul li a:hover,
footer ul li a:visited:hover {
  color: #222;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
footer ul li.twitter a:hover {
  color: #79f;
}
footer ul li.facebook a:hover {
  color: #35a;
}
h3,
h4 {
  border-bottom: 1px solid #ddd;
}
h1 {
  margin: 0.5em 0 0 0;
  padding: 0;
  color: #000000;
}
h1.with-icon i {
  color: #aaa;
}
h1.with-icon.h1 {
  margin-left: -38px;
}
.navbar {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0.67em 0;
  text-align: center;
}
.navbar li {
  display: inline-block;
  margin: 0 0.5em;
}
.navbar li a {
  font-size: 1.5em;
  text-decoration: none;
  color: #737373;
}
aside[role="meta"] {
  float: right;
  padding: 8px 16px;
  background: #f1f1f1;
  width: 228px;
  min-height: 120px;
  margin-left: 24px;
  margin-bottom: 24px;
}
aside[role="meta"] h4 {
  margin: .665em 0 1.33em;
  border-bottom: 0;
}
