@page-background: #fff;
@title-color: #000;

html {
	background: @page-background;
}

body {
	width: 100%;
	margin: 0 auto;
}

div[role=main] {
	width: 960px;
	margin: 0 auto;
	background: #FFF;
 	border-radius: 4px;
}

footer {
	text-align: center;
	font-size: 0.75em;
}

h1 {

	margin: 0.5em 0 0 0;
	padding: 0;
	color: @title-color;
}

.navbar {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0.5em 0 0.67em 0;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 0.5em;
		a {
			font-size: 1.5em;
			text-decoration: none;
			color: #737373;
		}
	}
}

aside[role="meta"] {
	float: right;
	padding: 8px 16px;
	background: #f1f1f1;
	width: 228px;
	min-height: 120px;
	margin-left: 24px;

	h4 {
		margin: .665em 0 1.33em;
	}
}




