<div id="main-content" class="expanded">
    <h2>{{#titleize}}{{section}}{{/titleize}}</h2>

		<div class="posts" role="archive">
			<ul>
				{{#posts}}
				<li>
					<a href="{{ permalink }}">{{{ title }}}</a>
				</li>
				{{/posts}}
			</ul>
		</div>

</div>
