<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{{site-title}}}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
   </head>

	<body>
		<div class="mast" id="header">
			<div class="mast-container">
				<ul id="topnav">
					<li class="active"><a href="#">Help Center</a></li>
					<li><a href="https://www.nitrous.io/chat">Live Chat</a></li>
					<li><a href="mailto:help@nitrous.io">Contact Support</a></li>
					<li class="login"><a href="https://www.nitrous.io/sign_in">Login</a></li>
				</ul>
				<h1 id="logo">
					<a href="/#">Nitrous.IO</a>
				</h1>
			</div>
		</div>

		<div class="mast" id="search">
			<div class="mast-container">
				<form id="site-search">
					<input type="text" placeholder="Have a question? Ask or enter a search term here." />
					<input type="submit" value="Search" />
				</form>
			</div>
		</div>

		<div role="main">