<div id="main-content">
	<article class="hentry">

		<aside role="meta">
			<div role="tags">
				<h4>
					<i role="icon" aria-hidden="true" class="icon-tag"></i>
					Categories:
				</h4>
				<ul>
					{{#tags}}
						<li><a href="/categories/{{#downcase}}{{.}}{{/downcase}}">{{.}}</a></li>
					{{/tags}}
				</ul>
			</div>
		</aside>

		<h2 class="entry-title">{{{ title }}}</h2>
		<div class="date-updated">Last Updated: <time class="updated" datetime="{{ published_date }}" pubdate>{{published_date}}</time></div>

		<div class="entry-content">
			{{{content}}}
		</div>

		<div class="ftags clearfix">
			<ul>
				<li class="label">More articles in:</li>
				{{#tags}}
					<li><a href="/categories/{{#downcase}}{{.}}{{/downcase}}">{{.}}</a></li>
				{{/tags}}
			</ul>
		</div>
	</article>
</div>
