<div id="main-content">
	<article class="hentry">

		<aside role="meta">
			<div role="tags">
				<span role="icon" aria-hidden="true" class="icon-tag"></span><h4>Categories:</h4></span>
				<ul>
					{{#tags}}
						<li><a href="/categories/{{#downcase}}{{.}}{{/downcase}}">{{.}}</a></li>
					{{/tags}}
				</ul>
			</div>
		</aside>

		<h2 class="entry-title">{{{ title }}}</h2>
		<div>Last Updated: <time class="updated" datetime="{{ published_date }}" pubdate>{{published_date}}</time></div>

		<div class="entry-content">
			{{{content}}}
		</div>

	</article>
</div>
