{{> header }}

<div class="categories clearfix">

  <h1 class="with-icon h1">
    <i class="icon-question-sign"></i>
    Find a solution
  </h1>

  {{#categories}}
    <div class="category">
      <h3>{{#titleize}}{{name}}{{/titleize}}</h3>

      <ul class="posts">
      {{#posts}}
      <li><a href="{{permalink}}">{{title}}</a></li>
      {{/posts}}
      </ul>

      {{#has_more}}
      <a class="view-all" href="/categories/{{#downcase}}{{name}}{{/downcase}}">View all &raquo;</a>
      {{/has_more}}
    </div/>
  {{/categories}}

</div>

{{> footer }}
